{{outlet}}
<!-- NAVBAR -->
<ul class="nav nav-pills nav-justified">
  <li role="presentation"><a href=".">Home</a></li>
  <li role="presentation"><a href="contact">Contact</a></li>
  <li role="presentation"><a href="about">About</a></li>
</ul>

<ul>
  {{#each model.games as |game|}}
  {{game-tile game=game}}
  {{/each}}

</ul>
<h2> All Reviews </h2>

<ul>
  {{#each model.reviews as |review|}}
    <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>
  {{/each}}
</ul>
